@{
    ViewBag.Title = "Ingreso al Sistema";
    Layout = "~/Views/_LayoutLogin.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="tableContainer-1">
            <div class="tableContainer-2">
                <table class="myTable">
                    <tr>
                      <td><p></p> <br /> </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="container justify-c">
                                <div class="row vertical-offset-100">
                                    <div class="col-md-4 col-md-offset-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                @*<h3 class="panel-title" style="text-align: center; font-weight: bold;">Ricardo Palma</h3>*@
                                                <img width="100%" style="background-size:auto" src="~/Images/Logo.jpg" />
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Usuario" id="txtUsuario" type="text" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Contraseña" id="txtPassword"  type="password" value="" />
                                                </div>
                                                <input class="btn btn-primary btn-block" type="button" id="btnValidar" value="Login" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
    </fieldset>
}